<% include head.ejs %>

<div class="container">
    <h1>Hello, world!</h1>
    <div class="row">
    	<p class="text-center">
	    	<button id="start_btn" class="btn btn-lg btn-primary">Start</button>
	    </p>
    	<div class="col-md-9">
	    	<p id="results" class="lead text-center"></p>
	   	</div>
	   	<div class="col-md-3">
	    	<div id="keywords"></div>
	   	</div>
	</div>
</div>

<% include foot.ejs %>